* {
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
 #btn{
     border-radius: 50px;
     margin-top: 500px;
     margin-left: 600px;
     font-size: 50px;
     background-color: antiquewhite;
     cursor: pointer;
 } 
=======
html,
body {
  overflow: hidden;
}

body {
  position: relative;
}

body {
  align-items: center;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
>>>>>>> c8597bd39946adf57b1357ac6e67c3b277b5f31b
